body{
    background-color: #dae3ee;
}
.home{
    /* height: 100vh; */
    background: linear-gradient(rgba(0,0,0,0.8),rgba(0,0,0,0.1)),url(images/background.avif);
    background-size: cover;
}

.nav-link {
color: gray;
transition: color 0.3s ease; /* Smooth hover effect */
}

.nav-link:hover {
color: white; /* On hover */
}

.nav-link.active {
color: white;
font-weight: bold;
text-decoration: underline;
}

/* -----------introduction--------- */
.intro{
    color: whitesmoke;
    padding: 10% 10%;
    text-align: justify;
}
/* -------------- My Projects Page ---------------- */
#projectHeading{
  background-color: #375a7f; /* Deep Steel Blue */
  color: #ffffff; /* White text */
  border: none; /* Clean look */
  border-radius: 8px; /* Subtle rounded edges */
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2); /* Slight shadow for depth */
  padding: 15px;
}

