body{
    background-color: #dae3ee;
}
/* -------- NavBar ------------------ */
.navbar-brand {
    font-size: 1.5rem;
    font-weight: bold;
    color: white !important;
}

.navbar-dark {
    padding: 10px 20px;
}

.navbar-dark .nav-link {
    color: white !important;
    font-size: 1.1rem;
}

.navbar-dark .nav-link.active {
    font-weight: bold;
    color: red !important;
}





